.animal-profile {
    background-color: #fffaf0; 
    border: 1px solid #deb887; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 250px;
    text-align: center;
}

.animal-profile h2 {
    font-size: 3em;
    margin: 0;
}

.animal-profile h3 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #8b4513;
}

.animal-profile p {
    margin: 5px 0;
    color: #2f4f4f;
}

.animal-profile ul {
    list-style-type: none;
    padding: 0;
}

.animal-profile li {
    margin: 5px 0;
    color: #6b8e23;
} 